.register-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.register-heading{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.register-form-content{
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 30px;
    border-radius: 10px;
    width: 350px;
}

@media screen and (max-width: 576px) {
    .register-form-content{
        width: 270px;
    }
}